<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SeriesCommander.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SeriesCommander.SettingsOrganizer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SeriesCommander.Settings>
      <setting name="avi" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="mkv" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="srt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sub" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="defaultPath" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="defaultUnpackPath" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="delete" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="wmv" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mp4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ogg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="threegp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="m4v" serializeAs="String">
        <value>False</value>
      </setting>
    </SeriesCommander.Settings>
    <SeriesCommander.SettingsOrganizer>
      <setting name="season" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="episode" serializeAs="String">
        <value>E</value>
      </setting>
      <setting name="title" serializeAs="String">
        <value>dot</value>
      </setting>
    </SeriesCommander.SettingsOrganizer>
  </userSettings>
</configuration>